:root{
    --yellow-color: #EAC926;

    --blue-color: #03264C;;

    --ligth-blue-color: #1259c3;

    --dark-grey-color: #666;

    --ligth-grey-color: #ebebeb;

    --green-color: #39b54a;
}

body{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

section{
    background-color: var(--ligth-grey-color);
}

article{
    background-color: white;
}

nav ul li{
    list-style: none;
}

p {
    font-size: 12px;
}

.titular {
    font-size: 24px;
}

#compra{
    text-decoration-style: none;
}

#banner img{
    padding-top: 12px;
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

/*********************************************************** ULTIMAS VISITAS ************************************/
#ultima-visita article img {
    width: 100%;
}

#ultima-visita article .precios {
    font-size: 18px;
}

#ultima-visita article .descuentos{
    font-size: 16px;
    color: var(--green-color);
}

#ultima-visita article .descripciones{
    font-size: 16px;
    color: var(--dark-grey-color);
}

#ultima-visita article .camion{
    color: var(--green-color);
}

/*********************************************************** OFERTAS *******************************************/
#ofertas article img {
    width: 100%;
}

#ofertas article .precios {
    font-size: 18px;
}

#ofertas article .descuentos{
    font-size: 16px;
    color: var(--green-color);
}

#ofertas article .descripciones{
    font-size: 16px;
    color: var(--dark-grey-color);
}

#ofertas article .camion{
    color: var(--green-color);
}

header{
    display: block;
    margin: 2px;
    padding: 2px;
    min-height: 100px;
    background-color: var(--yellow-color);
}

footer{
    display: block;
    margin: 2px;
    padding: 2px;
    background-color: white;
    color: var(--dark-grey-color)
}

footer .icono{
    color: var(--ligth-blue-color);
    display:block;
    margin:auto;
}

